*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    background:linear-gradient(135deg,#ffdde1,#ee9ca7);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.card{
    width:380px;
    background:white;
    padding:35px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 15px 35px rgba(0,0,0,.2);
}

h1{
    color:#ff4f81;
    margin-bottom:15px;
}

.subtitle{
    color:#666;
    margin-bottom:25px;
}

input{
    width:100%;
    padding:14px;
    margin:10px 0;
    border-radius:10px;
    border:2px solid #ffd1dc;
    font-size:16px;
}

button{
    width:100%;
    margin-top:20px;
    padding:15px;
    border:none;
    border-radius:12px;
    background:#ff4f81;
    color:white;
    font-size:18px;
    cursor:pointer;
}

button:hover{
    background:#ff2f68;
}